<section class="newsletter_wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="left">
                    <span class="badge_tag">Let's Talk Growth</span>
                    <p class="para">Ready to Scale?</p>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="right">
                    <a href="" class="btn btn-prime">Contact Us</a>
                </div>

            </div>

        </div>
    </div>
</section>


<footer>
    <section class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer_logo">
                        <img src="/assets/images/logo.webp" alt="Logo" class="logo img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="menu_links">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li><a href="" class="links">Home</a></li>
                                    <li><a href="" class="links">About Us</a></li>
                                    <li><a href="" class="links">Services</a></li>
                                    <li><a href="" class="links">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="menu_links">
                                <h3>More</h3>
                                <ul>
                                    <li><a href="" class="links">Terms & Conditions</a></li>
                                    <li><a href="" class="links">Privacy Policy</a></li>
                                    <li><a href="" class="links">FAQs</a></li>
                                    <li><a href="" class="links">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="menu_links contact_link">
                                <h3>Get In Touch</h3>
                                <ul>
                                    <li><a href="" class="links"><span class="icon"><i
                                                    class="bi bi-telephone-fill"></i></span> (+1) 234 567890</a></li>
                                    <li><a href="" class="links"><span class="icon"><i
                                                    class="bi bi-envelope-fill"></i></span>
                                            info@bluestarinnovationpartners.com</a></li>
                                    <li><a href="" class="links"><span class="icon"><i
                                                    class="bi bi-geo-alt-fill"></i></span> Frisco, TX</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="copy">&copy; All Right reserved.</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="devFoot">Site by CleverDesign</p>
                    </div>
                </div>


            </div>

        </div>


    </section>
</footer>

