---
layout: layouts/base.njk
title: "About Page"
permalink: /about/
---

<!-- Hero Banner  -->

<section class="hero-banner about_wrapper">
    <div class="video_wrap">
        <video muted autoplay loop>
            <source src="../assets/videos/hero-video.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="video_content">
        <div class="container">
            <h1>Built by Founders. <br> Backed by Experience</h1>
        </div>
    </div>
</section>


<!-- Founders Section  -->

<section class="founders-section py-5">
    <div class="container">
        <div class="row align-items-center g-5">

            <!-- Left Text -->
            <div class="col-12 col-md-6">
                <div class="founders_text about_text">
                    <h2 class="fw-bold mb-4">About Our Roots</h2>
                    <p>
                        BSIP was founded in 2017 by serial entrepreneur Rob Wechsler, with support from Jerry Jones and
                        the Jones Family as founding investors. In 2020, Dan Wechsler joined as CEO to partner with Rob
                        in accelerating growth and building the team into what it is today.


                    </p>
                    <p>
                        Unlike traditional private equity firms, BSIP was built with intent: after founding and scaling
                        multiple PE-backed businesses, we saw a critical gap in the industry — the absence of true
                        operating experience. We set out to change that by first assembling a team of proven founders
                        and operators, then pairing them with seasoned investment professionals.


                    </p>

                    <p>This "founders helping founders" approach defines who we are. Because we've sat on the other side
                        of the table, we understand both the opportunities and the challenges. That perspective allows
                        us to work shoulder-to-shoulder with entrepreneurs to grow, scale, and create lasting value.</p>
                </div>

            </div>

            <!-- Right Video -->
            <div class="col-12 col-md-6">
                <div class="founder_image">
                    <img src="../assets/images/founder_pics.PNG" alt="">
                </div>
            </div>

        </div>
    </div>
</section>



<!-- History Section  -->



<section class="history-section py-5">
    <div class="container">
        <div class="row align-items-center g-5">
            <!-- Left Text -->
            <div class="col-12 col-md-12">
                <div class="founders_text about_text">
                    <h2 class="fw-bold mb-4">Our History</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="history-carousel owl-carousel owl-theme">

                    <div class="item history-card">
                        <div class="box">
                            <div class="year">2017</div>
                            <div class="line"></div>
                            <div class="content">
                                Rob Wechsler, Jerry Jones & PSG Sell Blue Star Sports To Genstar; BSIP I Launches
                            </div>
                        </div>
                    </div>
                    <div class="item history-card">
                        <div class="box">
                            <div class="year">2017 – 2021</div>
                            <div class="line"></div>
                            <div class="content">
                                BSIP Team Source 11 Investments, Partnering With Leading Private Equity Firms; Storable
                                Sold To EQT, GovBrands Sold To PSG/TPG, Payrix Sold To FIS;

                            </div>
                        </div>
                    </div>
                    <div class="item history-card">
                        <div class="box">
                            <div class="year">2021 – 2024</div>
                            <div class="line"></div>
                            <div class="content">
                                Founders We Backed Become Full Time Operating Partners Post Exit, Enhancing Our
                                Operator-First Strategy And Playbook; BSIP II Launches
                            </div>
                        </div>
                    </div>

                    <div class="item history-card">
                        <div class="box">
                            <div class="year">2021 – 2024</div>
                            <div class="line"></div>
                            <div class="content">
                                BSIP Team Source 11 Investments, Partnering With Leading Private Equity Firms; Storable
                                Sold To EQT, GovBrands Sold To PSG/TPG, Payrix Sold To FIS;
                            </div>
                        </div>
                    </div>








                </div>
            </div>

            <div class="col-12 col-md-12">
<div class="custom-timeline-bar mt-4">
            <div class="custom-timeline-bar-active"></div>
        </div>
            </div>
        </div>


    </div>
</section>