---
layout: layouts/base.njk
title: "News Page"
permalink: /news/
---


<main>
    <section class="breadcrum-wrapper">
        <img src="../assets/images/bread.png" class="w-100 img-fluid" />
        <div class="container">
            <div class="caption">
                <h1>News</h1>
            </div>
        </div>
    </section>

    <section class="news-wrapper">

        <div class="container py-5">

            <div class="row custom-news-item mb-5 pb-5 border-bottom">
                <div class="col-md-8 col-lg-9 order-md-1">
                    <h2 class="custom-title">
                        Blue Star Innovation Partners and PSG Complete Sale of PlayMetrics to Genstar Capital
                    </h2>
                    <p class="mb-4 text-muted">
                        Blue Star Innovation Partners and PSG Complete Sale of PlayMetrics to Genstar Capital
                    </p>
                    <a href="#" class="btn btn-outline-secondary custom-read-more">Read More</a>
                </div>

                <div class="col-md-4 col-lg-3 order-md-2 d-flex align-items-center justify-content-center mb-4 mb-md-0">
                    <div class="custom-logo-container p-4">
                        <img src="../assets/images/company-14.PNG" class="news-img" alt="">
                    </div>
                </div>
            </div>

            <div class="row custom-news-item mb-5 pb-5 border-bottom">
                <div class="col-md-8 col-lg-9 order-md-1">
                    <h2 class="custom-title">
                        Ledger Run Partners With Blue Star Innovation Partners to Accelerate Growth
                    </h2>
                    <p class="mb-4 text-muted">
                        Ledger Run, a leading provider of technology services that optimize workflows, enabling seamless
                        engagement between sponsors, sites, and CROs while enhancing financial management in clinical
                        trials, today announced a partnership with Blue Star Innovation Partners ("BSIP").
                    </p>
                    <a href="#" class="btn btn-outline-secondary custom-read-more">Read More</a>
                </div>

                <div class="col-md-4 col-lg-3 order-md-2 d-flex align-items-center justify-content-center mb-4 mb-md-0">
                    <div class="custom-logo-container p-4">
                        <img src="../assets/images/company-3.PNG" class="news-img" alt="">
                    </div>
                </div>
            </div>

             <div class="row custom-news-item mb-5 pb-5 border-bottom">
                <div class="col-md-8 col-lg-9 order-md-1">
                    <h2 class="custom-title">
                        Blue Star Innovation Partners and PSG Complete Sale of PlayMetrics to Genstar Capital
                    </h2>
                    <p class="mb-4 text-muted">
                        Blue Star Innovation Partners and PSG Complete Sale of PlayMetrics to Genstar Capital
                    </p>
                    <a href="#" class="btn btn-outline-secondary custom-read-more">Read More</a>
                </div>

                <div class="col-md-4 col-lg-3 order-md-2 d-flex align-items-center justify-content-center mb-4 mb-md-0">
                    <div class="custom-logo-container p-4">
                        <img src="../assets/images/company-4.PNG" class="news-img" alt="">
                    </div>
                </div>
            </div>

             <div class="row custom-news-item mb-5 pb-5">
                <div class="col-md-8 col-lg-9 order-md-1">
                    <h2 class="custom-title">
                        Ledger Run Partners With Blue Star Innovation Partners to Accelerate Growth
                    </h2>
                    <p class="mb-4 text-muted">
                        Ledger Run, a leading provider of technology services that optimize workflows, enabling seamless
                        engagement between sponsors, sites, and CROs while enhancing financial management in clinical
                        trials, today announced a partnership with Blue Star Innovation Partners ("BSIP").
                    </p>
                    <a href="#" class="btn btn-outline-secondary custom-read-more">Read More</a>
                </div>

                <div class="col-md-4 col-lg-3 order-md-2 d-flex align-items-center justify-content-center mb-4 mb-md-0">
                    <div class="custom-logo-container p-4">
                        <img src="../assets/images/company-8.PNG" class="news-img" alt="">
                    </div>
                </div>
            </div>

            

        </div>


    </section>


</main>